body{
    height:100vh;
}



.imageContainer{
    height:25%;
    width:100%;
    background-color:goldenrod;
    /* background-color: black;*/
}



.imagePicture{
    display:inline-block;
    background-color:black;
    height:100%;
    width:50%;
}


.picMe{
    height: 100%;
    width: 80%;
    position: relative;
    left: 10%;
    /*top: 10%;*/
}

img{
    height: 100%;
}