
/*
notes for memory match from tim
*/


body{
    margin:0;
    height:100vh;
    font-family: "Courier New", Courier, monospace;

}

.header-container{
    height:25%;
    width:100%;
    background-color:goldenrod;
    /*text-align: center;*/
}

.logoContainer{
    display:inline-block;
    background-color:black;
    height:100%;
    width:25%;
}

.logoPicture{
    height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 10%;
}

.picture>img{
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 80%;
}

.headerDisplay{
    display:inline-block;
    height:100%;
    width:70%;
    position:relative;
    top:0%;
}


.headerText{
    position: absolute;
    top: 25%;
    left: 30%;
    font-size: 50px; /*not use % because the % comes from the font-size not the container*/
}


.game-container{
    height:75%;
    width:100%;
    /* max-width: 100vh; */
}

.stats{
    height:100%;
    width:25%;
    display: inline-block;
    background-color: plum;
    vertical-align: top;
    font-size: 20px;
}

.games-played, .attempts, .accuracy, .createdButton, .about{
    width:100%;
    height:20%;
}

.games-played, .attempts, .accuracy,.createdButton{
    text-align: center;
}

.games-played{
    background-color:saddlebrown;
}

.attempts{
    background-color:grey;}

.accuracy{
    background-color:tan;
}
.createdButton{
    background-color:black;
}

.game-area{
    /* height:100%; */
    width:74%;
    max-width: 125vh;
    display: inline-block;
    background-color: black;
}

.row{
        width:100%;
        /* height: 32%; */
        font-size:0;
        /* vertical-align: middle; */
        display: flex;
        align-items: stretch;
        padding: 1% 0;
}

.card-container{
    font-size:0;
    width:16%;
    /* height:100%; */
    /* display: inline-block; */
    background-color:black;
    display: flex;
    /* padding: 1% 0; */
    align-items: center;
}

.card{
    height: 100%;
    width: 80%;
    position:relative;
    left:10%;
    /* top:10%; */
    display: flex;
    /* align-items: stretch; */
}


.front,.back{
    /* height: 100%; */
    width:100%;
    background-size:cover;
    background-position:center;
    /* position:absolute; */
    /* vertical-align: middle; */
    /* top: 50%; */
    display: flex;
    align-items: center;
    /* transform: translateY(-50%); */
    background-color: #ccc;
}

div.front>img{
    /* height:100%; */
    width:100%;
}


div.back>img{
    /* height:100%; */
    width:100%;
    flex-shrink: 0;
}

.hiddenDivContainer{
    display: none; /* remember to comment this out*/
    background-color: black;
    border: 2px black solid;
    position: absolute;
    top:15%;
    left:20%;
    height:75%;
    width:75%;
}

.hiddenImageContainer{
    background-color: black;
    border: 2px black solid;
    position:relative;
    height:50%;
    width:50%;
    left:25%;
    top:15%;
}


.hiddenImage{
    border: 2px black solid;
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
    position:absolute;
}

.imageSizing{
    height:100%;
    width:100%;
}


.hiddenDivText{
    border: 2px white solid;
    color: white;
}

.closeModalButton{
    position: relative;
    top: -15%;
}



.closeModal{
    position:relative;
    bottom:0%;
    left:5%;
}


.hide{
    display: none;
}

.about{
    background-color:gray;
}

